<?php
define('HOMER_DNS', 'sqlite:' . __DIR__ . '/open/homer.db');
define('HOMER_RESOLVER_ADDRESS', '8.8.8.8');
define('HOMER_TIMER', 0.1);
define('HOMER_DEEP', 3);
define('HOMER_KEEP_HOST', true);
define('HOMER_LIMITER_TIME', 60 * 60);
define('HOMER_STAT', true);
define('HOMER_HTTP_HOST', 'localhost');
define('HOMER_HTTP_PORT', 1337);